.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    clear:both;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(243, 241, 248, 0.259);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.footer-texto {
    padding: 1rem;
    
}

.footer-texto p {
    font-size: 13px;
}