* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(181, 175, 193);
    font-size: 16px;
    overflow-x: hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    min-height:100vh;  
    position:relative; 
    background-color: rgb(1, 1, 2);
}

main {
    float: left;
    padding: 2rem;
    width: 59vw;
    max-width: 70%;
    max-height: 80vh;
}

h3 {
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif
}

button {
    border: none;
    color: rgb(181, 175, 193);
    text-decoration: none;
    border-radius: 4px;
    background-color: rgb(11, 4, 33);
    width: 8rem;
    transition-duration: 0.2s;
    cursor: pointer;
    padding: 0.2rem;
    &:hover{
        background-color: rgb(30, 18, 71); /* Green */
        color:rgb(221, 212, 237);
    }
}